* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_body{
    max-width: 82vw;
    text-align: center;
    margin: auto;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.main_header {
    background-color: ghostwhite;
    border: 0.5px solid skyblue;
    color: rgb(50, 100, 149);
    border-radius: 6px;
    padding: 3px;
    text-align: center;
    margin-bottom: 3px;
    min-width: 82vw;
    min-height: 6vh;
}

.main_content{
    text-align: center; 
    background-color:ghostwhite;
    border: 0.5px solid skyblue;
    border-radius: 6px;
    min-width: 82vw;
    min-height: 90vh;
}

.main_footer{
    display: grid;
    place-items: center;
    margin-top: 3px;
    border: 0.5px solid skyblue;
    border-radius: 6px;
    background-color:ghostwhite;
    min-width: 82vw;
    min-height: 3vh;
}